/* font styles */

p,
ul {
  font-size: 16px;
  line-height: 22px;
  font-family: "Gentium Book Basic", serif;
}

a {
  text-decoration: none;
  color: #e9e9e9;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}


/* img styles */

img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.image-contain {
  height: 100%;
  width: 100%;
}

.logo-image {
  height: 50px;
}


/* Header Content Styles */

.container-head {
  background-color: #222222;
  color: #f1f1f1;
}

.position-title {
  margin-top: -10px;
}

.header-section {
  width: 90%;
  height: 300px;
  padding-bottom: 80px;
  margin: 0 auto;
  display: flex;
  vertical-align: middle;
}

.left-half {
  width: 20%;
  margin-top: 40px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.right-half {
  width: 79%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}



/* Body Content Styles */

body {
  padding: 0;
  margin: 0;
}

.body-section {
  width: 90%;
  margin: 0 auto;
}

.body-title {
text-align: center;
padding-top: 50px;
}

.bio-container {
  border: 1px solid #f1f1f1;
  background: #ffffff;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  box-shadow:0px 0px 15px rgba(100, 100, 100, 0.2);
  margin-top: -200px;
  display: flex;
}

.left-half-bio {
  width: 45%;
  margin: 2%;
  display: inline-block;
  vertical-align: middle;
}

.right-half-bio {
  width: 45%;
  margin: auto 1% auto 1%;
  display: inline-block;
  vertical-align: middle;
}

.portfolio-container {
  justify-content: space-between;
  display: flex;
}

.sample-card {
  border: 1px solid #f1f1f1;
  background: #ffffff;
  box-shadow:0px 0px 10px rgba(100, 100, 100, 0.2);
  text-align: center;
  width: 32%;
  margin: 10px;
  padding: 20px;
}

.card-image {
  display: inline-block;
  max-width: 100%;
  object-fit: contain;
}

.card-content {
  display: inline-block;
  max-width: 100%;
}

.button {
  background-color: #777777;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* Footer Styles */

footer {
  padding: 0;
  margin: 0;
}

.footer {
  margin: 80px 0 0 0;
  background-color: #222222;
  color: #999999;
  text-align: center;
  padding: 20px;
}


/* Media Styles */

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .bio-container {
    width: 90%;
    margin: 0 auto;
    margin-top: -180px;
    display: flex;
  }

  .portfolio-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sample-card {
    text-align: left;
    width: 90%;
    margin: 10px;
    padding: 20px;
    display: flex;
  }

  .card-image {
    display: inline-block;
    max-width: 50%;
  }

  .card-content {
    display: inline-block;
    max-width: 50%;
    margin: auto 2% auto 2% ;
  }
}

@media screen and (max-width: 800px) {
  .bio-container {
    width: 90%;
    margin: 0 auto;
    margin-top: -180px;
    flex-wrap: wrap;
  }

  .left-half-bio {
    width: 100%;
    display: inline-flex;
  }

  .right-half-bio {
    text-align: center;
    width: 100%;
  }

  .portfolio-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sample-card {
    text-align: center;
    width: 90%;
    margin: 10px;
    padding: 20px;
    display: inline-block;
  }
}
